html,body,.platform{
	width: 100%;
	height: 100%;
	text-align: center;
}
.login{
	background-color: #fff;
	width: 400px;
	height: 450px;
	box-shadow: 0 1px 3px rgba(26,26,26,.1);
	margin: 0 auto;
	margin-bottom: 50px;
}
.login-title{
	padding-top: 30px;
	color: #0084ff;
	font-family: "Microsoft YaHei",Tahoma, Arial;
	font-size: 60px;
}
.login-label{
	padding-bottom: 20px;
	color: #0084ff;
	border-bottom-width: 1px;
	border-bottom-color: rgb(230, 230, 230);
	border-bottom-style: solid;
	font-size: 16px;
}
.login-area{
	margin-top: 18px;
}
.login-input{
	margin: 18px 80px;
	width: 240px;
	border: none;
	font-size: 15px;
	padding: 5px 0px;
	border-bottom: lightgray solid 1px;
}
.login-input:focus{
	outline: none;
}
.login-btn{
	background-color: #0084ff;
	color: #fff;
	margin: 20px;
	width: 240px;
	display: inline-block;
    	padding: 0 16px;
    	font-size: 14px;
    	line-height: 32px;
    	text-align: center;
    	cursor: pointer;
    	border: 1px solid;
    	border-radius: 3px;
}
.login-btn:focus{
	outline: none;
}
.login-btn:hover{
	background-color: #0074ff;
}
.login-warning{
	font-size: 13px;
	color: red;
	text-align: left;
	margin-left: 80px;
	height: 0px;
}
.login-reminder{
	margin-top: 10px;
	font-size: 13px;
	color: gray;
}
.login-claim{
	color: #0074ff;
	cursor: pointer;
}